.trend-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    224.79deg,
    #fee5e5 -16.15%,
    #fff 17.41%,
    #fff 83.44%,
    #c2ede9 117.1%
  );
  padding-bottom: 24px;
}
