.trend-page {
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: linear-gradient(
    224.79deg,
    #fee5e5 -16.15%,
    #fff 17.41%,
    #fff 83.44%,
    #c2ede9 117.1%
  );
  padding-bottom: 24px;
}

body.hide-bottom-nav .bottom-nav {
  display: none !important;
}

body.hide-bottom-nav .app-content {
  padding-bottom: 0;
}

.container::-webkit-scrollbar {
  display: none;
}
